body {
    padding: 100px;
    background-color: #FDF6E3;
    font-family: 'Lato', sans-serif;
}

.calculator {
    
    width: 260px;
    height: 360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #E0DCC7;
    border: solid;
    border-width: 5px;
    border-color: #A6B0A0;
}

.display {
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-end;
    padding-right: 5px;
    background-color: #F3F5D9;
}

#display-main {
    margin-bottom: 10px;
}


.keypad {
    display: flex;
    flex: 3;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button {
    height: 20%;
    flex: initial;
    background-color: #FFFBEF;
    font-family: inherit;
    border: solid;
    border-radius: 1px;
    border-color: #FDF6E3;
}

#plus {
    height: 40%;
    flex: auto;
}